body {
  margin: 0;
  font-family: sans-serif;
}

.pageBar{
    text-align: center;
    align: center;
}

.wrap {
    width: 100%;
    overflow:auto;
}

.fleft {
    padding-left: 200px;
    padding-right: 50px;
    float:left;
    width: 80%;
}

.fright {
    padding-right: 50px;
    float: right;
    width: 20%;
    position:relative;
}

.paginationBar{
    cursor: pointer;
}